body.light {
  color: black;
  background-color: #ddd;
}

body.dark {
  background-color: #131314;
}

body.light .item {
  background-color: #1e1f20;
  color: white;
}

body.light .navlateral {
  background-color: #ddd;
}

body.light .navlateral a {
  color: black;
}

.mood {
  position: fixed;
  right: 2rem;
  top: 2rem;
}

.mood i {
  color: white;
  z-index: 1;
}


@media(max-width: 480px){
  .mood {
 
  right: -5rem;
  top: 1rem;
}
}