.navlateral {
  background-color: #1e1f20;
  width: 20rem;
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  box-shadow: #777 0px 0px 30px;
}

.navlateral i {
  color: #00aec5;
}

.navlateral ul {
  padding-top: 5rem;
}

.navlateral h1 {
  color: #b311f5;
  font-size: 5rem;
  padding: 0.5rem 2rem 1rem 2rem;
  width: 30rem;
  border-bottom: #ddd 1px solid;
}

.navlateral a {
  color: #ddd;
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5rem 1rem 1rem 2rem;
  display: block;
}

.navlateral a:hover {
  background-color: #512d65;
}

@media (max-width: 480px) {
  .navlateral {
    width: 7rem;
    
  }
  .navlateral h1 {
    color: #b311f5;
    font-size: 2rem;
    padding: 1.5rem 0rem 0rem 0.5rem;
    width: 7rem;
    border-bottom: #ddd 1px solid;
  }
  .navlateral a {
    font-size: 1rem;
    padding: 0.5rem 1rem 1rem 1rem;
  }

  .navlateral ul {
    padding-top: 1.5rem;
    
  }

  .navlateral i {
    display: none;
  }
}
