@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Handjet:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+RO:wght@100..400&family=Shadows+Into+Light&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #131314;
  transition: background-color 0.3s, color 0.3s;
}
.container {
  width: 80%;
  gap: 5px;
  margin-left: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 550px;
  margin-top: 70px;
  margin-left: 0;
  padding: 10px;
  background-color: #030a0f9d;
  border-radius: 15px;
 
  
}

.item h1 {
  font-size: 50px;
  color: #ddd;
  text-align: center;
}
.item p {
  font-size: 25px;
  height: 400px;
  width: 900px;
  font-family: "Roboto", sans-serif;
  gap: 4px;
  font-style: normal;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: justify;
  text-indent: 2px;
  margin-top: 20px;
  color: #f2e5e5;
}
.item i {
  font-size: 50px;
  width: 50px;
}

.item time {
  text-align: right;
  color: #b311f5;
}

.item .fell {
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}
button#btn {
  background-color: #777;
  width: 200px;
  height: 50px;
  color: rgb(182, 180, 180);
  border-radius: 20px;
}

.btnSeguinte {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.btnSeguinte i {
  font-size: 90px;
  animation: balancar 0.6s ease-in-out infinite;
  color: #00aec5;
}
footer{
  max-width: 1000px;     
  width: 100%;            
  margin: 50px auto 20px auto; 
  background-color: #e9ecec;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
footer p {
  font-size: 20px;
}
footer .contactos {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
footer .contactos a {
  font-size: 50px;
  color: #131314;
  z-index: 1;
}

footer .contactos a:hover {
  transform: scale(1.2);
}
@keyframes balancar {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(3deg);
  }
}

